.container{
    background:white;
    height:auto;
    justify-content: center;
    
}
.form{
    justify-content: center;
    align-items: center;
   
    padding: 6px;
    display: grid;
    grid-template: 40% /  1fr;
    gap: 17px;
    
    
}
.inputs-container{
    margin-top:10%;
    background: brown;
    
    margin-left: 3%;
    margin-right: 3%;
    font-family: "Karla", sans-serif;
    align-self: center;
    justify-content: space-between;
}
.lines{
    background: #ffffff;
    width:100%;
    
    
    
}
.form--inputs {
    font-family: "Karla", sans-serif;   
}
input[type=text]{
    width:20%;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    margin:5px;
}
.form--btns{
    justify-content: space-between;

    grid-column:1/-1;
    margin:4px;
}
.line-button{
    border-color: azure;
    background:#000000;
    font-family: "Karla", sans-serif;
    border-radius: 100%;
    width:40px;
    height:40px;
    
    margin: 7px;
}
.form--button {
    border-color: azure;
    background:#000000;
    font-family: "Karla", sans-serif;
    border-radius: 7px;
    width:25%;
    height:40px;
    margin: 7px;
    
}
.meme{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    height: 750px;
    background: red;
}